<nav id="nav-placeholder" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top justify-content-between">
    <a class="navbar-brand" href="/">
        <img src="../assets/HdM_Logo_White.png" width="53" class="logo-picture d-inline-block align-top" alt="">
        <span class="logo-text">Study Administration<span class="logo-text-hide-mobile"> Portal</span></span>
    </a>
    <button class="navbar-toggler border-none" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- Dashboard -->
            <li class="nav-item">
                <a class="nav-link active" href="/dashboard">Dashboard<span class="sr-only">(current)</span></a>
            </li>
            <!-- Study Progress -->
            <li class="nav-item">
                <a class="nav-link" href="/study-progress">Study Progress<span class="sr-only">(current)</span></a>
            </li>
            <!-- Exams -->
            <li class="nav-item">
                <a class="nav-link" href="/exams">Exams<span class="sr-only">(current)</span></a>
            </li>
            <!-- Fees -->
            <li class="nav-item">
                <a class="nav-link" href="/fees">Fees<span class="sr-only">(current)</span></a>
            </li>
            <!-- Certificates & Forms -->
            <li class="nav-item">
                <a class="nav-link" href="/certificates-and-forms">Certificates & Forms<span class="sr-only">(current)</span></a>
            </li>
            <!-- Profile -->
            <li class="nav-item" id="nav-profile-desktop">
                <a class="nav-link" href="/profile">Profile<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <a class="nav-profile-link"><img id="nav-profile-mobile" src="../assets/Lisa_Avatar.png" alt="Profile image"></a>
    </div>
</nav>
