@import "../../node_modules/bootstrap/scss/bootstrap";

$body-bg: #000;
$body-color: #111;

$theme-colors: (
        "primary": #0074d9,
        "danger": #ff4136
);

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: darkgrey !important;
}

p {
  color: darkgrey !important;
}

h2 {
  padding-top: 24px;
  padding-bottom: 6px;
  color: darkgrey !important;
}

td {
  padding-top: 12px;
  padding-bottom: 6px;
}

.footer {
  margin-top: 60px;
  padding-top: 18px;
  padding-bottom: 30px;
}
.footer a {
  color: white;
  text-decoration: underline;
}
