/* STRUCTURE
GENERAL
...
 */

/* GENERAL */
body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #545454 !important;
}

h1, h2, h3, h4 {
    padding-top: 24px;
    padding-bottom: 6px;
    color: #545454 !important;
}

a {
    color: #E1003A !important;
}

/* NAV */
nav ul a {
    text-align: center;
    font-size: 16px !important;
    padding: 12px !important;
    color: #545454 !important;
}

.nav-profile-link {
    padding: 0;
    margin: 0;
}

@media (max-width: 992px) {
    nav ul li:not(:last-child) {
        border-bottom: #f4f4f4 2px solid;
    }
}

nav a:hover, .logo-text:hover {
    color: #E1003A !important;
}

nav .border-none {
    border: none !important;
}

nav li:hover a {
    cursor: pointer;
}

@media (max-width: 992px) {
    #nav-profile-mobile {
        display: none;
    }

    #nav-profile-desktop {
        display: inline-block;
    }
}

@media (min-width: 993px) {
    #nav-profile-mobile {
        display: inline-block;
        cursor: pointer;
        height: 36px;
    }

    #nav-profile-desktop {
        display: none;
    }
}

.logo-picture {
    margin-top: 3px;
}

.logo-text {
    text-align: left;
    color: #464646 !important;
    padding-left: 9px;
    font-weight: normal;
}

/* FOOTER */
footer {
    width: 100%;
    color: #545454;
    margin-top: 48px;
    padding-top: 18px;
    padding-bottom: 24px;
}

/* BUTTONS */
.button {
    display: block;
    background: #E1003A;
    padding: 12px 36px;
    margin: 24px 0 6px 0;
    border-radius: 3px;
    color: white;
    border: none;
}

.button-small {
    display: block;
    background: #E1003A;
    padding: 6px 36px;
    border-radius: 3px;
    color: white !important;
    border: none;
}

.width-full {
    width: 100%;
}

.button:hover {
    background: #f22e4e;
}

label {
    margin-top: 12px;
}

/* LOGIN */
.main-login {
    margin: 24px 0 0 0;
    max-width: 576px !important;
}

/* Dashboard */
.list-group-item-action p {
    color: #545454;
}
.list-time {
    font-weight: bold;
}
